---
import DefaultLayout from "~/layouts/default.astro"
import IconArrowRight from "~icons/mdi/arrow-right"
---

<DefaultLayout title="Data Visualization e Sonification sulla Qualità dell'Aria">
  <main class="container grow max-w-3xl flex flex-col px-6 py-12">
    <div class="grow flex">
      <div class="prose max-w-full pt-24 m-auto">
        <h1>Data Visualization e Sonification sulla Qualità dell'Aria</h1>
        <p>
          La <strong>sonificazione</strong> è il processo tramite il quale un dato di qualsiasi natura viene trasformato
          in un suono che ne rispecchia le caratteristiche, in modo da facilitarne la comunicazione e l'interpretazione.
        </p>
        <p>
          Questa demo utilizza due metodologie di comunicazione per fornire dati relativi all'andamento giornaliero
          dell'inquinamento atmosferico in cinque città in giro per il mondo.
        </p>
        <ul>
          <li>
            La prima modalità consiste nell'ascolto di una rappresentazione sonora dei dati, ottenuta tramite
            sonificazione
          </li>
          <li>La seconda prevede la consultazione di un grafico a barre animato</li>
        </ul>
        <p>
          I dati visualizzati seguono la formula <strong>AQI</strong> (<strong>Air Quality Index</strong>), un indice
          che valuta la qualità dell'aria in base ad un numero compreso tra 0 (ottimo) e 500 (altamente inquinato). In
          aggiunta all'andamento dell'AQI, viene mostrato il residuo, che indica come giornate particolarmente inquinate
          influenzino la qualità dell'aria anche nelle giornate successive.
        </p>
        <p>Terminata la demo ti verrà richiesto di completare un breve questionario.</p>
      </div>
    </div>
    <div class="flex mt-24">
      <a
        href="/audio"
        class="w-full sm:w-1/2 inline-flex justify-center items-center gap-4 p-4 rounded-full font-bold bg-teal-200 border border-teal-400 hover:underline mx-auto"
      >
        <span class="ml-2">Inizia</span>
        <IconArrowRight />
      </a>
    </div>
  </main>
</DefaultLayout>
