---
import Background from "~/components/background.astro"

type Props = { title: string }
const { title } = Astro.props
---

<html lang="en" class="min-h-full flex">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="grow flex flex-col items-center overflow-x-hidden">
    <Background />
    <slot />
  </body>
</html>
